 
{% extends "htmlfiles/base.html" %}

{% load widget_tweaks %}

{% block body_block %}


<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">

            <h3 class="panel-title">Create A New Poll</h3>
            
        <form method="POST" >
            {% csrf_token %}

            <div class="panel-body">
                <div class="form-group">
                    <label for="question">Enter Poll Question : </label>
                    {% render_field form.question rows="3" %}
                    
                   
                </div>
            </div>

            <div class="form-group ">
                    <label for="option1">Option 1 : </label>
                    {% render_field form.option_one %}
            </div>

            <div class="form-group">
                    <label for="option1">Option 2 : </label>
                    {% render_field form.option_two %}

            </div>

            <div class="form-group">
                    <label for="option1">Option 3 : </label>
                    {% render_field form.option_three %}

            </div>

            <div class="row">
                <div class="col-lg-4">
                    <button type="submit" class="btn btn-info">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}