
{% extends "htmlfiles/base.html" %}

{% block body_block %}

<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Available Polls</h3>
            </div>
                
            <ul class="list-group">
                {% for poll in polls %}
                <li class="list-group-item">
                    <strong> {{ poll.question }}</strong>
                        <a href="{% url 'votes' poll.id %}" class="btn btn-info btn-xs">Vote</a> 
                        <a href="{% url 'results' poll.id %}" class="btn btn-default btn-xs">View Results</a> 
                </li>
                {% endfor %}
            </ul>

        </div>
    </div>
</div>
{% endblock %}