
{% extends "htmlfiles/base.html" %}

{% block body_block %}

<div class="row">
    <div class="col-lg-8 col-lg-offset-2">

        <h3 class="panel-title">Poll Result</h3>
    </div>

    <div class="panel-body">
        <h3>{{ poll.question}}</h3>
    </div>

        <ul class="list-group">
            <li class="list-group-item">{{ poll.option_one}} -><strong>{{ poll.option_one_count}}</strong></li>
            <li class="list-group-item">{{ poll.option_two}} -> <strong>{{ poll.option_two_count}}</strong></li>
            <li class="list-group-item">{{ poll.option_three}} -> <strong>{{ poll.option_three_count}}</strong></li>
        </ul>

    <div class="panel-footer">
       <P>Total no of votes : <strong>{{ poll.total}}</strong></P> 
    </div>

      
</div>

{% endblock %}