
{% extends "htmlfiles/base.html" %}

{% block body_block %}

<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <h3 class="panel-title">Cast Your Vote</h3>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <h2> {{ poll.question }}</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <hr />

                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="radio">
                            <label><input type="radio" name="poll" value="option1" required>{{ poll.option_one }}</label> 
                            <label><input type="radio" name="poll" value="option2">{{ poll.option_two }}</label>
                            <label><input type="radio" name="poll" value="option3">{{ poll.option_three }}</label>
                        </div>
                    </div>
                    
                    <hr />

                    <button type="submit" class="btn btn-info">Submit</button>
                </form>
    </div>
</div>


{% endblock %}